<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.com.archon.dao.archon.RewardAndPunishMapper">
  <resultMap id="BaseResultMap" type="main.java.com.archon.po.archon.RewardAndPunish">
    <id column="id" jdbcType="DECIMAL" property="id" />
    <result column="emp_Id" jdbcType="DECIMAL" property="empId" />
    <result column="RP_TYPE" jdbcType="VARCHAR" property="rpType" />
    <result column="RP_CONTENT" jdbcType="VARCHAR" property="rpContent" />
    <result column="RP_TIME" jdbcType="TIMESTAMP" property="rpTime" />
    <result column="money" jdbcType="DECIMAL" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emp_Id, RP_TYPE, RP_CONTENT, RP_TIME, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ARCHON.REWARD_PUNISH
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from ARCHON.REWARD_PUNISH
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="main.java.com.archon.po.archon.RewardAndPunish">
    insert into ARCHON.REWARD_PUNISH (id, emp_Id, RP_TYPE, 
      RP_CONTENT, RP_TIME, money
      )
    values (#{id,jdbcType=DECIMAL}, #{empId,jdbcType=DECIMAL}, #{rpType,jdbcType=VARCHAR}, 
      #{rpContent,jdbcType=VARCHAR}, #{rpTime,jdbcType=TIMESTAMP}, #{money,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="main.java.com.archon.po.archon.RewardAndPunish">
    insert into ARCHON.REWARD_PUNISH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="empId != null">
        emp_Id,
      </if>
      <if test="rpType != null">
        RP_TYPE,
      </if>
      <if test="rpContent != null">
        RP_CONTENT,
      </if>
      <if test="rpTime != null">
        RP_TIME,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=DECIMAL},
      </if>
      <if test="rpType != null">
        #{rpType,jdbcType=VARCHAR},
      </if>
      <if test="rpContent != null">
        #{rpContent,jdbcType=VARCHAR},
      </if>
      <if test="rpTime != null">
        #{rpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="main.java.com.archon.po.archon.RewardAndPunish">
    update ARCHON.REWARD_PUNISH
    <set>
      <if test="empId != null">
        emp_Id = #{empId,jdbcType=DECIMAL},
      </if>
      <if test="rpType != null">
        RP_TYPE = #{rpType,jdbcType=VARCHAR},
      </if>
      <if test="rpContent != null">
        RP_CONTENT = #{rpContent,jdbcType=VARCHAR},
      </if>
      <if test="rpTime != null">
        RP_TIME = #{rpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="main.java.com.archon.po.archon.RewardAndPunish">
    update ARCHON.REWARD_PUNISH
    set emp_Id = #{empId,jdbcType=DECIMAL},
      RP_TYPE = #{rpType,jdbcType=VARCHAR},
      RP_CONTENT = #{rpContent,jdbcType=VARCHAR},
      RP_TIME = #{rpTime,jdbcType=TIMESTAMP},
      money = #{money,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>