<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archon.dao.RecruitmentDao">
    <resultMap id="recMap" type="Recruitment">
        <id column="id" property="id"></id>
        <result column="JOB_AND_DEPT_ID" property="jobAndDeptId"></result>
        <result column="WORK_TYPE" property="workType"></result>
        <result column="WORK_LOCATION" property="workLocation"></result>
        <result column="WORKER_NUMBER" property="workerNumber"></result>
        <result column="RECRUITMENT_CREATE_TIME" property="recruitmentCreateTime"></result>
        <result column="RECRUITMENT_MODIFIED_TIME" property="recruitmentModifiedTime"></result>
        <result column="CREATER_ID" property="createrId"></result>
        <association property="deptAndJob" column="{id=JOB_AND_DEPT_ID}" select="com.archon.dao.DeptAndJobDao.queryDeptAndJob"></association>
        <collection property="resumeList" column="{recruitmentId=ID}" select="com.archon.dao.ResumeDao.queryRec"></collection>
    </resultMap>
    <insert id="addRec" parameterType="Recruitment">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
            SELECT SEQARCHON.nextval from dual
        </selectKey>
        insert into RECRUITMENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="jobAndDeptId!=null">JOB_AND_DEPT_ID,</if>
            <if test="workType!=null">WORK_TYPE,</if>
            <if test="workLocation!=null">WORK_LOCATION,</if>
            <if test="workerNumber!=null">WORKER_NUMBER,</if>
            <if test="recruitmentCreateTime!=null">RECRUITMENT_CREATE_TIME,</if>
            <if test="recruitmentModifiedTime!=null">RECRUITMENT_MODIFIED_TIME,</if>
            <if test="createrId!=null">CREATER_ID,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="jobAndDeptId!=null">#{jobAndDeptId},</if>
            <if test="workType!=null">#{workType},</if>
            <if test="workLocation!=null">#{workLocation},</if>
            <if test="workerNumber!=null">#{workerNumber},</if>
            <if test="recruitmentCreateTime!=null">#{recruitmentCreateTime},</if>
            <if test="recruitmentModifiedTime!=null">#{recruitmentModifiedTime},</if>
            <if test="createrId!=null">#{createrId},</if>
        </trim>
    </insert>
    <update id="updateRec" parameterType="Recruitment">
        UPDATE RECRUITMENT
        <set>
            <trim suffix=" " suffixOverrides=",">
                <if test="jobAndDeptId!=null">JOB_AND_DEPT_ID=#{jobAndDeptId},</if>
                <if test="workType!=null">WORK_TYPE=#{workType},</if>
                <if test="workLocation!=null">WORK_LOCATION=#{workLocation},</if>
                <if test="workerNumber!=null">WORKER_NUMBER=#{workerNumber},</if>
                <if test="recruitmentCreateTime!=null">RECRUITMENT_CREATE_TIME=#{recruitmentCreateTime},</if>
                <if test="recruitmentModifiedTime!=null">RECRUITMENT_MODIFIED_TIME=#{recruitmentModifiedTime},</if>
                <if test="createrId!=null">CREATER_ID=#{createrId},</if>
            </trim>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    <select id="queryRec" parameterType="Recruitment" resultMap="recMap">
        SELECT * from RECRUITMENT
        <where>
            <trim suffix=" " suffixOverrides="and">
                <if test="id!=null">id=#{id} and</if>
                <if test="jobAndDeptId!=null">JOB_AND_DEPT_ID=#{jobAndDeptId} and</if>
                <if test="workType!=null">WORK_TYPE=#{workType} and</if>
                <if test="workLocation!=null">WORK_LOCATION=#{workLocation} and</if>
                <if test="workerNumber!=null">WORKER_NUMBER=#{workerNumber} and</if>
                <if test="recruitmentCreateTime!=null">RECRUITMENT_CREATE_TIME=#{recruitmentCreateTime} and</if>
                <if test="recruitmentModifiedTime!=null">RECRUITMENT_MODIFIED_TIME=#{recruitmentModifiedTime} and</if>
                <if test="createrId!=null">CREATER_ID=#{createrId}</if>
            </trim>
        </where>
    </select>
    <delete id="deletRec" parameterType="Recruitment">
        DELETE FROM RECRUITMENT where ID=#{id}
    </delete>
</mapper>