<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archon.dao.VisitorDao">
    <resultMap id="visitorMap" type="Visitor">
        <id column="ID" property="id"></id>
        <result column="V_NAME" property="vName"></result>
        <result column="V_PASSWORD" property="vPassword"></result>
        <result column="V_Gender" property="vGender"></result>
        <result column="V_Age" property="vAge"></result>
        <result column="V_Email" property="vEmail"></result>
        <result column="V_Phone" property="vPhone"></result>
        <result column="V_CREATE_TIME" property="vCreateTime"></result>
        <result column="V_MODIFIED_TIME" property="vModifiedTime"></result>
        <result column="V_Photo" property="vPhoto"></result>
        <result column="V_Identity_Card" property="vIdentityCard"></result>
        <result column="isNormal" property="isNormal"></result>
        <collection property="skillList" column="{visitorId=ID}" select="com.archon.dao.SkillDao.querySkill"></collection>
        <collection property="eduExps" column="{visitorId=ID}" select="com.archon.dao.EduExpDao.queryEdu"></collection>
        <collection property="workExps" column="{visitorId=ID}" select="com.archon.dao.WorkExpDao.queryworkExp"></collection>
    </resultMap>
    <insert id="addVisitor" parameterType="Visitor">
    <selectKey order="BEFORE" resultType="java.lang.Integer" keyProperty="id">
        select SEQARCHON.nextval from dual
    </selectKey>
        insert into VISITOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id!=null">ID,</if>
        <if test="vName!=null">V_Name,</if>
        <if test="vPassword!=null">V_Password,</if>
        <if test="vGender!=null">V_Gender,</if>
        <if test="vAge!=null">V_Age,</if>
        <if test="vEmail!=null">V_Email,</if>
        <if test="vPhone!=null">V_Phone,</if>
        <if test="vCreateTime!=null">V_Create_Time,</if>
        <if test="vPhoto!=null">V_Photo,</if>
        <if test="vIdentityCard!=null">V_IDENTITY_CARD</if>
    </trim>
    <trim prefix=" values (" suffix=")" suffixOverrides=",">
        <if test="id!=null">#{id},</if>
        <if test="vName!=null">#{vName},</if>
        <if test="vPassword!=null">#{vPassword},</if>
        <if test="vGender!=null">#{vGender},</if>
        <if test="vAge!=null">#{vAge},</if>
        <if test="vEmail!=null">#{vEmail},</if>
        <if test="vPhone!=null">#{vPhone},</if>
        <if test="vCreateTime!=null">#{vCreateTime},</if>
        <if test="vPhoto!=null">#{vPhoto},</if>
        <if test="vIdentityCard!=null">#{vIdentityCard}</if>
    </trim>
</insert>
    <update id="updateVisitor" parameterType="Visitor">
        UPDATE VISITOR
        <trim suffixOverrides="," suffix=" ">
            <set>
                <if test="vName!=null">V_Name=#{vName},</if>
                <if test="vPassword!=null">V_Password=#{vPassword},</if>
                <if test="vGender!=null">V_Gender=#{vGender},</if>
                <if test="vAge!=null">V_Age=#{vAge},</if>
                <if test="vEmail!=null">V_Email=#{vEmail},</if>
                <if test="vPhone!=null">V_Phone=#{vPhone},</if>
                <if test="vCreateTime!=null">V_Create_Time=#{vCreateTime},</if>
                <if test="vPhoto!=null">V_Photo=#{vPhoto},</if>
                <if test="vIdentityCard!=null">V_Identity_Card=#{vIdentityCard}</if>
            </set>
        </trim>
        <where>
            <choose>
                <when test="id!=null">
                     id=#{id}
                </when>
                <otherwise>
                     1=2
                </otherwise>
            </choose>
        </where>
    </update>
    <select id="queryVisitor" parameterType="Visitor" resultMap="visitorMap">
        SELECT * from VISITOR
        <where>
            <trim suffix=" " suffixOverrides="and">
                <if test="id!=null">ID=#{id} and</if>
                <if test="vName!=null">V_NAME=#{vName} and</if>
                <if test="vPassword!=null">V_PASSWORD=#{vPassword} and</if>
                <if test="vGender!=null">V_GENDER=#{vGender} and</if>
                <if test="vAge!=null">V_AGE=#{vAge} and</if>
                <if test="vEmail!=null">V_EMAIL=#{vEmail} and</if>
                <if test="vPhone!=null">V_PHONE#{vPhone} and</if>
                <if test="vCreateTime!=null">V_CREATE_TIME=#{vCreateTime} and</if>
                <if test="vPhoto!=null">V_MODIFIED_TIME=#{vPhoto} and</if>
                <if test="vIdentityCard!=null">V_IDENTITY_CARD=#{vIdentityCard}</if>
            </trim>
        </where>
    </select>
</mapper>